@model Bussiness_Directory.Models.Bussiness

@{
    ViewBag.Title = "Error";
}

<h2 style="color: red">Error: ID is already in use.</h2>
<br /><br />

<h3 style="color: green">Note: Business ID has to be Unique and canno be repeated</h3>